.nav_container{
  background-color: #fff;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

.options_list{
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 700;
  color: rgb(70, 70, 70);
}